*.DS_Store
Gemfile.local
Gemfile.lock
/.bundle
/.git
/tmp/**
!/tmp/.gitkeep
!/tmp/cache/.gitkeep
!/tmp/pdf/.gitkeep
!/tmp/pids/.gitkeep
!/tmp/sessions/.gitkeep
!/tmp/sockets/.gitkeep
!/tmp/test/.gitkeep
!/tmp/thumbnails/.gitkeep
plugins/*/.git
plugins/*/.git*
log/*
/.idea
docker-compose.yml
.env