/config/additional_environment.rb
/config/database.yml
/config/email.yml
/config/environments/easy.rb
/config/configuration.yml
/config/configuration.yml.kopie
/config/secrets.yml
/config/elastic_apm.yml
/config/initializers/secret_token.rb
/config/secrets.yml
/config/time_entry_templates.yml
/db/*schema.rb
/log/**
!/log/.gitkeep
/files/**
!/files/.gitkeep
/public/plugin_assets/*
/public/500.html
/public/404.html
/public/javascripts/redmine_cached_js.js
/nbproject/*
/nbproject/project.properties
/nbproject/project.xml
/sql/**
/git_repositories/**
/tmp/**
!/tmp/.gitkeep
!/tmp/cache/.gitkeep
!/tmp/pdf/.gitkeep
!/tmp/pids/.gitkeep
!/tmp/sessions/.gitkeep
!/tmp/sockets/.gitkeep
!/tmp/test/.gitkeep
!/tmp/thumbnails/.gitkeep
/vendor/*
/.bundle
/Gemfile.lock
/Gemfile.local
/.rbx
/gems.dependencies.rb
*.DS_Store
.rvmrc
.ruby-version
.project
.idea
.pronto.yml
*~
/TESTING
.gemtags
.tags
/public/assets
/public/favicon.ico
plugins/*/.git
plugins/*/.git*
/coverage
/log
/tmp
sitemap.xml
